.App {
  text-align: center;
}

.Paiva-lista {
  display: flex;
  flex-direction: row;
}

.Paiva {
  width: 15em;
  display: flex;
  flex-direction: column;
  /*border-style: solid;
  border-color: black;
  border-width: 1px;*/
}

.Paiva-nimi {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tunti {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tuntiborderit {
  box-shadow: inset 0px 1px 0px 0px black,
              inset 0px -1px 0px 0px black,
              inset 1px 0px 0px 0px black,
              inset -1px 0px 0px 0px black;
}

.sama-ohjelma-ylapuolella-eri-ohjelma-alapuolella {
  box-shadow: inset 0px -1px 0px 0px black,
              inset 1px 0px 0px 0px black,
              inset -1px 0px 0px 0px black;
}

.sama-ohjelma-ylapuolella-sama-ohjelma-alapuolella {
  box-shadow: inset 1px 0px 0px 0px black,
              inset -1px 0px 0px 0px black;
}

.eri-ohjelma-ylapuolella-eri-ohjelma-alapuolella {
  box-shadow: inset 0px 1px 0px 0px black,
              inset 0px -1px 0px 0px black,
              inset 1px 0px 0px 0px black,
              inset -1px 0px 0px 0px black;
}

.eri-ohjelma-ylapuolella-sama-ohjelma-alapuolella {
  box-shadow: inset 0px 1px 0px 0px black,
              inset 1px 0px 0px 0px black,
              inset -1px 0px 0px 0px black;
}

.sopii {
  background: #DFD;
}

.ei-sovi {
  background: #FDD;
}

.ei-mahdu {
  background: repeating-linear-gradient(
    to right,
    #FAA 0px,
    #FAA 5%,
    #FDD 5%,
    #FDD 10%
  );
}

.ei-mielellaan {
  background: #DDF;
}

.mahdoton-ohjelma {
  background: red;
}

.mahdoton-ohjelma-valittu {
  background: repeating-linear-gradient(
    45deg,
    #F66 0px,
    #F66 5%,
    red 5%,
    red 10%
  );
}

.kelpaava-ohjelma {
  background: green;
}

.kelpaava-ohjelma-valittu {
  background: repeating-linear-gradient(
    45deg,
    #6F6 0px,
    #6F6 5%,
    green 5%,
    green 10%
  );
}

.luokaton-ohjelma {
  background: blue;
}

.luokaton-ohjelma-valittu {
  background: repeating-linear-gradient(
    45deg,
    #66F 0px,
    #66F 5%,
    blue 5%,
    blue 10%
  );
}

.poista-ohjelma {
  background: #FDD;
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Ohjelma-kuvaus-lista-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lista-valittu {
  background: repeating-linear-gradient(
    45deg,
    #FFF,
    #FFF 10px,
    #EEEEEE 10px,
    #EEEEEE 20px
  );
}

.parillinen {
  background: #EEE;
}

.pariton {
  background: #DDD;
}

.Ohjelma-kuvaus-main {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.Ohjelma-kuvaus-nimi {
  width: 50vw;
  max-width: 50em;
  display: flex;
  justify-content: flex-start;
}

.Ohjelma-kuvaus-kesto {
  width: 20em;
  display: flex;
  justify-content: flex-start;
  border-left: solid #AAA;
  padding-left: 1em;
}

.Ohjelma-kesto-nyt {
  margin-right: 1em;
}

.Ohjelma-monikesto-lista {
  display: flex;
  flex-direction: row;
}

.Ohjelma-monikesto {
  width: 2em;
  box-shadow: inset 1px 1px 0px 0px #BBB,
              inset 0px -1px 0px 1px #BBB;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.valittu-kesto {
  background: #AAA;
}

.kesto-ei-mahdu {
  background: #FAA;
}

.kesto-ei-mielellaan {
  background: #AAF;
}

.muu-vapaa {
  background: #AFA;
}

.Ohjelma-kuvaus-paiva {
  width: 16em;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.asetettu {
  background: #EFE;
}

.asetus-parillinen {
  box-shadow: inset 0px 2px 0px 0px #EEE,
              inset 0px -2px 0px 0px #EEE;
}

.asetus-pariton {
  box-shadow: inset 0px 2px 0px 0px #DDD,
              inset 0px -2px 0px 0px #DDD;
}
